body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header {
    background-color: #222;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header-app-name {
    color: white !important;
    font-size: 25px !important;
    padding-right: 20px;
}

.header a {
    font-size: 15px;
    color: hsla(0, 0%, 100%, .5);
    padding-right: 20px;
}