@import './ant-theme-vars';

.recipe-card-img {
  height: 140px;
}

.search-by-recipe {
  .content {
    padding-top: 100px;
    min-height: 100vh;
  }

  .ant-layout-header {
    padding: 0 20px;
  }

  .ant-badge-count {
    background-color: @primary-color;
  }
}

.search-bar-wrapper {
  display: flex;
}

.filter-button {
  margin-right: 10px !important;
}
